# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Justin Wong
email = justin.wong235@gmail.com
[core]  
  editor = vi 
	excludesFile = ~/.gitignore
[alias]
		#file
    lf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --all -n 12
		#graph
    lg = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph --all -n 12
		#date
    ld = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --all -n 12
		
	s = status
   [color]  
    diff = auto  
    status = auto  
    branch = auto 
   [branch]  
    autosetuprebase = always
